body {
  font-family: "Open Sans", sans-serif;
  position: relative;
}

h1,
h2,
h3 {
  font-family: "Lobster", cursive;
}

h2 {
  color: #3046c5;
}

header h2 {
  color: #cec8ff;
}

.site-footer {
  background-image: radial-gradient(silver, black);
  padding: 20px 0;
  color: white;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, silver, black, silver);
  color: white;
  position: absolute;
}

.row-content {
  padding: 0 0 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.navbar {
  background-color: #901cad;

  position: absolute;
  width: 100vw;
  top: 0;
}

.tab-content {
  border: 1px solid #ddd;
  border-top: none;
  padding: 10px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
  border: solid #5637dd;
  width: 100%;
  height: 100%;
}

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
}

#reserveModal .modal-header {
  background-color: #17a2b8;
  color: white;
}

#loginModal .modal-header {
  background-color: #901cad63;
  color: white;
}

#smokeDepotNavBar {
  justify-content: flex-end;
}
.borderRight {
  border-right: 1px solid black;
  width: 100px;
  justify-content: center;
  display: flex;
}
.windowWidth {
  width: 99.8vw;
  padding-right: 0 !important;
  top: 0 !important;
}
.navBarImage {
  width: auto;
  height: 100px;
}
.opacity {
  background-color: transparent !important;
}
a {
  color: white;
}
.signUp {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.textCenter {
  margin-top: 50px;
  text-align: center;
}

.lanceIndicators {
  display: flex;
  justify-content: center;
  width: 100%;
  /* background-color: #fff; */
  /* border: red solid 1px; */
  position: absolute;
  z-index: 1000000;
  bottom: 20%;
}

.indicator {
  width: 50px;
  height: 15px;
  background-color: #fff;
  opacity: 0.4;
  border-radius: 5px;
}

.solid {
  opacity: 1 !important;
}

.indicator:not(:first-child) {
  margin-left: 25px;
}

iframe {
  margin-top: 50px;
  display: flex;
  justify-content: left;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  height: 100%;
  margin: 20px;
}
.cards {
  height: 300px;
  

}